/* RESET BASIC */
body { 
  margin: 0; 
  padding: 0; 
  width: 100vw; 
  height: 100vh; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFFFFF; /* Putih Bersih ala p5 editor */
  overflow: hidden;
}

/* AR VIEWER FULLSCREEN */
model-viewer { 
  width: 100%; 
  height: 100%; 
  --poster-color: transparent;
  background-color: white;
}

/* TOMBOL "ENTER AR" ALA P5.XR (Styling Pink) */
#ar-button {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  
  background-color: white;
  color: #D61A5E; /* Pink Magenta P5 */
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  cursor: pointer;
  z-index: 999;
  
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}

#ar-button:active {
  transform: translate(-50%, -50%) scale(0.95);
  background-color: #f5f5f5;
}

/* IKON TOMBOL */
#ar-icon {
  width: 24px; 
  height: 24px; 
  fill: #D61A5E;
}

/* SEMBUNYIKAN ELEMEN BAWAAN GOOGLE YANG GAK PERLU */
.slot-poster { display: none; }
